.breadcrumb {
    background-color: #fff !important;
}

.delivery {
    border-bottom: 1px solid #660;
    padding: 2rem 0;
}

.item {
    display: inline-block;
}

.price {
    position: absolute;
    top: 15rem;
    right: 10rem;
    font-weight: 400;
    font-size: 1.5rem;
}